{% extends 'rango/base.html' %}
{% block body_block %}
    <h1>Page creation</h1>
    {% if category %}
     <h3 class="form-signin-heading">Add a page to <a href="{% url 'category' category.slug %}">{{ category.name }}</a>:</h3>
    <form id="page_form" method="post" action="{% url 'add_page' category.slug %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br>
        {% endfor %}
        <button class="btn btn-primary" type="submit" name="submit">Add page</button>
    </form>
    {% else %}
    No such category.
    {% endif %}
{% endblock %}
