{% extends 'rango/base.html' %}

{% load staticfiles %}
{% block body_block %}
    <h1>Rango says...</h1>
    {% if user.is_authenticated %}
        I did not! Oh hi <strike>Mark</strike> {{ user.username }}<br>
    {% else %}
        the reptillians are coming! <strong>{{ boldmessage }}</strong><br />
    {% endif %}
    <a>Top 5 categories:</a>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are currently no categories; I must have deleted them ;/</strong>
    {% endif %}
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
{% endblock %}
{% block footer_block %}
    <p>
    visits: {{ visits }}<br>
    last visit: {{ last_visit }}
    </p>
{% endblock %}