{% extends 'rango/base.html' %}
{% block body_block %}
    {% if profile %}
    <h2>Your profile details:</h2><br>
    <ul>
    <li>username: {{ user.username }}</li>
    <li>email: {{ user.email }}</li>
    <li>website: {{ profile.website }}</li>
    <li>birthdate: {{ profile.birthdate }}</li>
    <li>avatar: {% if profile.avatar %} <img src="{{ MEDIA_URL }}{{ profile.avatar }}"> {% endif %}</li>
    <li>gender: {{ profile.gender }}</li>
    </ul>
    {% else %}
    <h2>You have no profile!</h2>
    {% endif %}
    <a href="{% url 'add_profile' %}">edit profile</a><br>
    
    To change the password, use the link in the top right corner.
{% endblock %}
